
node_modules/
package-lock.json.old
npm-debug.log*
yarn-debug.log*
yarn-error.log*


dist/
build/
coverage/

.env
.env.*
!.env.example


.vite/
.eslintcache
.stylelintcache
.prettier-cache/
.cache/


.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
Thumbs.db


*.log
*.tmp
*.bak
*.pid
*.seed
*.pid.lock


