.inputGroup {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.label {
  font-weight: 500;
}

.input {
  padding: 0.5rem 1rem;
  border-radius: var(--border-radius);
  border: 1px solid #ccc;
  @include transition(border);

  &:focus {
    border-color: var(--primary-color);
    outline: none;
  }
}
