:root {
  /*  Light tema */
  --bg-color: #ffffff;
  --text-color: #111111;
  --primary-color: #8b5cf6;
  --secondary-color: #f5f5f5;
  --card-bg: #e1e1e6;
  --border-radius: 8px;
  --border-color: #e0e0e0;
  --transition: 0.3s ease;
  --image-max-width: 100%;
  --image-transition: transform 0.3s ease-in-out;

  --font-size-base: 1rem; /* 16px */
  --font-size-subtitle: calc(var(--font-size-base) * 1.1); /* ~17.6px */
  --font-size-title: calc(var(--font-size-base) * 1.6); /* ~25.6px */
}

[data-theme='dark'] {
  /*  Dark tema */
  --bg-color: #111111;
  --text-color: #ffffff;
  --primary-color: #a78bfa;
  --secondary-color: #1f1f1f;
  --card-bg: #1a1a1a;
  --border-color: #333333;
}

/*  Global değişkenler */
$font-primary: 'Inter', sans-serif;
$container-width: 1320px;
$spacing-unit: 2rem;
