@import '../../styles/variables';
@import '../../styles/mixins';

.card {
   background: var(--card-bg);
  color: var(--text-color);
  border-radius: var(--border-radius);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  overflow: hidden;
  transition: transform 0.2s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100%;
  cursor: default;

  &:hover {
    background: #8f8f98;
    transform: translateY(-4px);
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  }
}

.imageWrapper {
  width: 100%;
  overflow: hidden;
   aspect-ratio: 16 / 11;

  .image {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    max-width:600px;
  }
}

.content {
  padding: 1rem;
  display: flex;
  flex-direction: column;
 
}

.title {
  font-size: 1.25rem;
  font-weight: 600;
}

.description {
  font-size: calc(var(--font-size-subtitle) * 1.05); /* ~18px */
  line-height: 1.7;
  opacity: 0.9;
  color: var(--text-color);
}


.actions {
  margin-top: 1rem;
  display: flex;
  justify-content: flex-start;
}
