@import 'reset';
@import 'variables';
@import 'mixins';

body {
  font-family: 'Inter', sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background 0.3s ease;
}
