@import '../../styles/variables';

.wrapper {
  position: fixed;
  top: 1.5rem;     /* Üstten boşluk */
  right: 1.5rem;   /* Sağdan sabitleme */
  z-index: 999;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 26px;

  input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    inset: 0;
    background-color: var(--border-color);
    border-radius: 34px;
    transition: background-color var(--transition);

    &::before {
      content: "";
      position: absolute;
      height: 20px;
      width: 20px;
      left: 3px;
      bottom: 3px;
      background-color: var(--bg-color);
      border-radius: 50%;
      transition: transform var(--transition), background-color var(--transition);
      box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    }
  }

  input:checked + .slider {
    background-color: var(--primary-color);
  }

  input:checked + .slider::before {
    transform: translateX(24px);
  }
}
@media (max-width: 640px) {
  .wrapper {
    top: 1rem;
    right: 1rem;
    transform: scale(0.9);
  }
}