@import '../../styles/variables';
@import '../../styles/mixins';

.accordion {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.item {
  border-radius: var(--border-radius);
  border: 1px solid #ddd;
  background-color: var(--secondary-color);
  overflow: hidden;
  @include transition(all);

  &.active {
    border-color: var(--primary-color);
  }
}

.header {
  width: 100%;
  background: none;
  border: none;
  padding: 1rem 1.25rem;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  cursor: pointer;
  color: var(--text-color);
  font-size: 1rem;
  @include transition(color);

  &:hover {
    color: var(--primary-color);
  }
}

.icon {
  font-size: 1.25rem;
  font-weight: bold;
}

.content {
  padding: 0 1.25rem 1rem;
  line-height: 1.6;
  font-size: 0.95rem;
  color: var(--text-color);
  animation: fade 0.2s ease;

  @keyframes fade {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}
